# Intro to Python Day 01 Lab Plain

Compiled by Ali Heikal

## Problem 1

Write a program to print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

## Problem 2

Write a program to print date and time and a program to print time only.

In [2]:
from datetime import datetime

def print_date_and_time():
    now = datetime.now()
    print("Current Date and Time:")
    print(now.strftime("%Y-%m-%d %H:%M:%S"))

print_date_and_time()

Current Date and Time:
2024-08-21 16:10:39

In [3]:
def print_current_time():

    now = datetime.now()
    formatted_time = now.strftime("%H:%M:%S")
    print("Current Time:",formatted_time)


print_current_time()

Current Time: 16:10:39

## Problem 3

Write a program that prints Python version and info of the environment you are using.

In [4]:
import sys
print("Python Version:")
print(sys.version)

Python Version:
3.8.10 (default, Jul 29 2024, 17:02:10)
[GCC 9.4.0]

## Problem 4

Write a program that accepts input of first name and last name and then print them in reverse order.

In [1]:
first_name=input("Enter First Name")
last_name=input("Enter Last Name")
print(last_name,first_name)

Enter First Name ggg
Enter Last Name mm

mm ggg

## Problem 5

Write a program that accepts one word from the user and print it in reverse order.

In [2]:
def reverse_word():

    word = input("Enter a word: ")
    reversed_word = word[::-1]
    print("The word in reverse order is:", reversed_word)

reverse_word()

Enter a word:  hnj

The word in reverse order is: jnh

## Problem 6

Write a program that parses a value once to float and once to integer.

In [3]:
x=input("Enter a value")
print("float",float(x))
print("int",int(float(x)))

Enter a value 5

float 5.0
int 5

## Problem 7

Write a program that accepts an integer and print whether it is even or odd.

In [4]:
num=int(input("Enter a number"))
if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a number 7

Odd

## Problem 8

Write a program that accepts an integer (n) and computes the value of n+nn+nnn.

In [65]:
def compute_n_plus_nn_plus_nnn():

    n = int(input("Enter an integer (n): "))
    n_int = int(n)
    nn = int(n * n)
    nnn = int(n * n * n)
    result = n_int + nn + nnn
    print(f"The value of n + nn + nnn is: {result}")
compute_n_plus_nn_plus_nnn()

Enter an integer (n): 5
The value of n + nn + nnn is: 155

## Problem 9

Write a program that prints "Hello, World!" 3 times without using loops and without writing it more than once.

In [5]:
message = "Hello, World!"
print((message + "\n") * 3)

Hello, World!
Hello, World!
Hello, World!

## Problem 10

Write a program to get the length of a string, check if a word exists in a string, check if a word does not exist in a string.

In [6]:
x="hello"

if type(x)==str:
   print("string",len(x))
else:
    print(x,"Not a string")

string 5

Write a program to print the first 2 and the last 2 characters from a given a string. If the string length is less than 2, return instead an empty string.

## Problem 11

In [7]:
string="If the string length is less than 2, return instead an empty"
if len(string)<2:
    print("")
else:
    print(string[:2])
    print(string[-2:])

If
ty

## Problem 12

Write a program that concatenates two lists index-wise.

In [8]:
l1=[1,"khaled",3,"Abdo"]
l2=["mosa","ona",10]
print(l1+l2)

[1, 'khaled', 3, 'Abdo', 'mosa', 'ona', 10]

## Problem 13

Write a program to square every item of a list.

In [9]:

list=[5,10,15]
for i in list:
    print(i**2)

25
100
225

## Problem 14

Write a program to remove empty strings from a list of strings and then print the list.

In [10]:
def remove_empty_strings(string_list):
    non_empty_list = [s for s in string_list if s.strip()]
    return non_empty_list

string_list = ["Hello", "", "World", "", "Python", ""]
result = remove_empty_strings(string_list)
print(result)

['Hello', 'World', 'Python']

## Problem 15

Write a program that reverses a tuple.

In [11]:
def reverse_tuple(tup):
    reversed_tup = tup[::-1]
    return reversed_tup

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

## Problem 16

Write a program that converts a tuple to individual variables.

In [12]:
def unpack_tuple(tup):

    a, b, c = tup


    print("Individual Variables:")
    print(f"a: {a}")
    print(f"b: {b}")
    print(f"c: {c}")

my_tuple = (10, 20, 30)
unpack_tuple(my_tuple)

Individual Variables:
a: 10
b: 20
c: 30

## Problem 17

Write a program to count of occurrences of an item.

In [13]:
def count_occurrences(lst, item):
    count = 0
    for element in lst:
        if element == item:
            count += 1

    return count

my_list = [1, 2, 3, 4, 2, 2, 5, 2]
item_to_count = 2
occurrences = count_occurrences(my_list, item_to_count)

print(f"The item {item_to_count} occurs {occurrences} times in the list.")

The item 2 occurs 4 times in the list.

## Problem 18

Write a program that detects the similar items between two sets and print them.

In [14]:
def detect_similar_items(set1, set2):

    similar_items = set1.intersection(set2)

    return similar_items
    similar_items = detect_similar_items(set1, set2)
    print("Similar Items:", similar_items)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
detect_similar_items(set1, set2)

{4, 5}

## Problem 19

Write a program that combines 2 sets in a new one while removing duplicates.

In [15]:
def combine_sets(set1, set2):

    combined_set = set1 | set2
    return combined_set
    combined_set = combine_sets(set1, set2)


    print("Combined Set:")
    print(combined_set)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
combine_sets(set1, set2)

{1, 2, 3, 4, 5, 6, 7, 8}

## Problem 20

Write a program that removes values in set 1 similar to values in set 2 and print the result.

In [16]:
def remove_similar_values(set1, set2):
    result_set = set1 - set2

    return result_set
    result_set = remove_similar_values(set1, set2)

    print("Result Set:\n",result_set)


set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
remove_similar_values(set1, set2)

{1, 2, 3}

## Problem 21

Write a program that converts two lists to a dictionary.

In [17]:
def lists_to_dict(keys_list, values_list):

    result_dict = dict(zip(keys_list, values_list))

    return result_dict

    result_dict = lists_to_dict(keys_list, values_list)

    print("Result Dictionary:\n",result_dict)

keys_list = ['a', 'b', 'c']
values_list = [1, 2, 3]
result_dict = lists_to_dict(keys_list, values_list)
print(result_dict)

{'a': 1, 'b': 2, 'c': 3}

## Problem 22

Write a program that extracts specific keys from a given dictionary and create a new dictionary out of them.

In [18]:
dic1={"mosa":22,"khaled":23,"mona":100}
dic2={}
dic2["mosa"]=dic1["mosa"]
dic2["khaled"]=dic1["khaled"]
print(dic2)

{'mosa': 22, 'khaled': 23}

## Problem 23

Write a program that removes keys from a given dictionary without creating a new dictionary.

In [19]:
dic={"Ali":25,"Ahmed":22,"sara":22}
dic.pop("Ali")
print(dic)

{'Ahmed': 22, 'sara': 22}