In [7]:
# Testing your installation
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import numpy as np

In [10]:
df = pd.read_csv("churn_modeling.csv")

In [11]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
df["Geography"].value_counts()
# i will encode this column and gender column to be numeric

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
df = pd.get_dummies(df, columns=['Geography'], prefix = ['Geography'] , drop_first=True)
df = pd.get_dummies(df, columns=['Gender'], prefix = ['Gender'] , drop_first=True)
print(df.head())

   RowNumber  CustomerId   Surname  CreditScore  Age  Tenure    Balance  \
0          1    15634602  Hargrave          619   42       2       0.00
1          2    15647311      Hill          608   41       1   83807.86
2          3    15619304      Onio          502   42       8  159660.80
3          4    15701354      Boni          699   39       1       0.00
4          5    15737888  Mitchell          850   43       2  125510.82

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0              1          1               1        101348.88       1
1              1          0               1        112542.58       0
2              3          1               0        113931.57       1
3              2          0               0         93826.63       0
4              1          1               1         79084.10       0

   Geography_Germany  Geography_Spain  Gender_Male
0              False            False        False
1              False             True        False
2              False            False        False
3              False            False        False
4              False             True        False

In [15]:
df.head(1)

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,1,15634602,Hargrave,619,42,2,0.0,1,1,1,101348.88,1,False,False,False

In [16]:
x = df.drop(['Exited' , 'RowNumber' , 'Surname'], axis=1)

In [17]:
x.head()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,15634602,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,15647311,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,15619304,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,15701354,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,15737888,850,43,2,125510.82,1,1,1,79084.10,False,True,False

In [18]:
y = df["Exited"]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [19]:
x.isnull().sum()

CustomerId           0
CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Geography_Germany    0
Geography_Spain      0
Gender_Male          0
dtype: int64

In [20]:
import numpy as np
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print('x_train shape: ', x_train.shape)
print('x_test shape: ', x_test.shape)
print('y_train shape: ', y_train.shape)
print('y_test shape: ', y_test.shape)

x_train shape:  (8000, 12)
x_test shape:  (2000, 12)
y_train shape:  (8000,)
y_test shape:  (2000,)

In [22]:
x_train.head(3)

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
9254,15601116,686,32,6,0.00,2,1,1,179093.26,False,False,True
1561,15766374,632,42,4,119624.60,2,1,1,195978.86,True,False,True
1670,15716994,559,24,3,114739.92,1,1,0,85891.02,False,True,True

In [23]:
import numpy as np
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(x_train)

x_train = scaler.transform(x_train)

x_test = scaler.transform(x_test)

# NumPy allows for more efficient data storage and processing for mathematical calculations.
x_train = np.array(x_train)
x_test = np.array(x_test)

In [24]:

# Create Sequential Model
model = keras.models.Sequential()

# Adding our layers
from tensorflow.keras.layers import Dense , Flatten



model.add(Dense(10, activation='relu'))

model.add(Dense(8, activation='relu'))

model.add(Dense(1, activation='sigmoid'))


model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])


# Creat checkpoint to save model at the end of each epoch:
checkpoint_cb = keras.callbacks.ModelCheckpoint("my_keras_model.h5", save_best_only=True)

# Creat EarlyStopping checkpoint:
early_stopping_cb = keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)



history = model.fit(x_train, y_train,
                    epochs=30,
                    validation_split = 0.1,
                    callbacks=[checkpoint_cb, early_stopping_cb]) #batch_size=32

Epoch 1/30

2024-08-31 14:57:20.883844: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-08-31 14:57:20.885209: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

225/225 [==============================] - 1s 2ms/step - loss: 0.6795 - accuracy: 0.6264 - val_loss: 0.5278 - val_accuracy: 0.7950
Epoch 2/30
173/225 [======================>.......] - ETA: 0s - loss: 0.5013 - accuracy: 0.7885

/home/abdalrahman/.local/lib/python3.8/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

225/225 [==============================] - 0s 1ms/step - loss: 0.4904 - accuracy: 0.7931 - val_loss: 0.4507 - val_accuracy: 0.8050
Epoch 3/30
225/225 [==============================] - 0s 1ms/step - loss: 0.4442 - accuracy: 0.7979 - val_loss: 0.4150 - val_accuracy: 0.8225
Epoch 4/30
225/225 [==============================] - 0s 1ms/step - loss: 0.4190 - accuracy: 0.8168 - val_loss: 0.3953 - val_accuracy: 0.8413
Epoch 5/30
225/225 [==============================] - 0s 1ms/step - loss: 0.4008 - accuracy: 0.8306 - val_loss: 0.3829 - val_accuracy: 0.8413
Epoch 6/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3858 - accuracy: 0.8372 - val_loss: 0.3735 - val_accuracy: 0.8400
Epoch 7/30
225/225 [==============================] - 0s 1000us/step - loss: 0.3740 - accuracy: 0.8456 - val_loss: 0.3644 - val_accuracy: 0.8462
Epoch 8/30
225/225 [==============================] - 0s 999us/step - loss: 0.3656 - accuracy: 0.8494 - val_loss: 0.3583 - val_accuracy: 0.8500
Epoch 9/30
225/225 [==============================] - 0s 990us/step - loss: 0.3601 - accuracy: 0.8499 - val_loss: 0.3536 - val_accuracy: 0.8537
Epoch 10/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8524 - val_loss: 0.3512 - val_accuracy: 0.8537
Epoch 11/30
225/225 [==============================] - 0s 992us/step - loss: 0.3537 - accuracy: 0.8547 - val_loss: 0.3490 - val_accuracy: 0.8525
Epoch 12/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3515 - accuracy: 0.8544 - val_loss: 0.3458 - val_accuracy: 0.8537
Epoch 13/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8542 - val_loss: 0.3457 - val_accuracy: 0.8537
Epoch 14/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8557 - val_loss: 0.3443 - val_accuracy: 0.8525
Epoch 15/30
225/225 [==============================] - 0s 986us/step - loss: 0.3476 - accuracy: 0.8560 - val_loss: 0.3420 - val_accuracy: 0.8487
Epoch 16/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8572 - val_loss: 0.3403 - val_accuracy: 0.8487
Epoch 17/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8575 - val_loss: 0.3378 - val_accuracy: 0.8537
Epoch 18/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8571 - val_loss: 0.3371 - val_accuracy: 0.8537
Epoch 19/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8581 - val_loss: 0.3365 - val_accuracy: 0.8575
Epoch 20/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8575 - val_loss: 0.3351 - val_accuracy: 0.8587
Epoch 21/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8578 - val_loss: 0.3341 - val_accuracy: 0.8525
Epoch 22/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8583 - val_loss: 0.3345 - val_accuracy: 0.8575
Epoch 23/30
225/225 [==============================] - 0s 981us/step - loss: 0.3413 - accuracy: 0.8587 - val_loss: 0.3341 - val_accuracy: 0.8525
Epoch 24/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8578 - val_loss: 0.3333 - val_accuracy: 0.8512
Epoch 25/30
225/225 [==============================] - 0s 965us/step - loss: 0.3402 - accuracy: 0.8597 - val_loss: 0.3334 - val_accuracy: 0.8500
Epoch 26/30
225/225 [==============================] - 0s 960us/step - loss: 0.3397 - accuracy: 0.8597 - val_loss: 0.3339 - val_accuracy: 0.8575
Epoch 27/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8586 - val_loss: 0.3315 - val_accuracy: 0.8575
Epoch 28/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8618 - val_loss: 0.3310 - val_accuracy: 0.8512
Epoch 29/30
225/225 [==============================] - 0s 994us/step - loss: 0.3378 - accuracy: 0.8604 - val_loss: 0.3317 - val_accuracy: 0.8587
Epoch 30/30
225/225 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8612 - val_loss: 0.3307 - val_accuracy: 0.8625

#### import pandas as pd
import matplotlib.pyplot as plt

learning_data = pd.DataFrame(history.history)
# learning_data.head()
learning_data.plot(figsize=(10,5))
plt.grid(True)
plt.show()

In [105]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8570

[0.3436797261238098, 0.8569999933242798]

In [110]:
y_pred = np.round(model.predict(x_test))

In [111]:
print(y_pred.shape)
print(y_test.shape)
y_test = np.array(y_test).reshape(-1,1)
print(y_test.shape)

(2000, 1)
(2000, 1)
(2000, 1)

In [112]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
confusion_matrix(y_test,y_pred)

array([[1524,   83],
       [ 203,  190]])

In [114]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1607
           1       0.70      0.48      0.57       393

    accuracy                           0.86      2000
   macro avg       0.79      0.72      0.74      2000
weighted avg       0.85      0.86      0.85      2000